# Dependencies
node_modules
.npm
.yarn-integrity

# Build output
dist
.nuxt
.output

# Version control
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# IDE and editor files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage

# Docker
Dockerfile
.dockerignore

# Documentation
README.md
LICENSE
docs
